= partial(:'partials/username_search')
#custom_search.row.panel.radius
  .large-12.columns
    %label.search_label{for: "search_custom_text"} 2. Custom Search
    %input#search_custom_text{placeholder: "i.e. Address", type: "text"}
  .large-12.columns
    %button#search_custom_button.small-8.button.radius Search
    %button#search_custom_clear_button.small-3.radius.alert Clear
= partial(:'partials/alert')
#search_results