#username.row.panel.radius
  .large-11.columns
    %label.search_label{for: "search_username"} 1. Type a username
    %input{id: "search_username", placeholder: "Username", type: "text"}
  #search_user_check_display.large-1.columns
    %span.label.round.secondary
      %b
        ?