%h3.page_title Reddit Comment History Search
= partial(:'partials/comment_search')

/ .row.panel.radius
/   .large-12.columns
/     %label 3. Saved Searches
/     .search
/       %a{href: "#"}
/         Search 1
/     .search
/       %a{href: "#"}
/         Search 2