%h3 Reddit Comment History Search
#username.row.panel.radius
  .large-11.columns
    %label 1. Type a username
    %input{id: "search_username", placeholder: "Username", type: "text"}
  #search_user_check_display.large-1.columns
    Check
#custom_search.row.panel.radius
  .large-12.columns
    %label 2. Custom Search
    %input#search_custom_text{placeholder: "i.e. Address", type: "text"}
  .large-12.columns
    %button#search_custom_button.small-12.button.radius Search

/ .row.panel.radius
/   .large-12.columns
/     %label 3. Saved Searches
/     .search
/       %a{href: "#"}
/         Search 1
/     .search
/       %a{href: "#"}
/         Search 2