.content {
	padding: 10px;
}

.page_title {
	margin-top: -20px;
	margin-bottom: 30px;
	text-align: center;
}

.comment_links {
	text-align: right;
}

#search_user_check_display {
	margin-top: 1.5rem;
}

#search_results_alert {
	width: 70%;
	margin: 0 auto;
	display: none;
}