/* TODO: Change to ems */
.content {
	padding: 10px;
}

.page_title {
	margin-top: -20px;
	margin-bottom: 30px;
	text-align: center;
}

.comment_links {
	text-align: right;
}

#search_user_check_display {
	margin-top: 1.8rem;
}

#search_results_alert {
	width: 70%;
	margin: 0 auto;
	display: none;
}

#search_custom_button {
	float: left;
}

#search_custom_clear_button {
	float: right;
}

.search_label {
	font-size: 18px;
	margin-bottom: 5px;
}

.loading_bar {
  display: block;
  margin: 0 auto;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}